@using Bookish.Models
@* @model Member *@
@model MemberCatalogueViewModel
@{
    ViewData["Title"] = "Member Catalogue";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    @if (Model.MemberCatalogue.Count > 0 ) 
    {
        <table class="table table-striped table-bordered">
            <tr> 
                <th>ID</th>
                <th>First Name</th>
                <th>Surname</th>
                <th>Email Address</th>
                <th>Contact Number</th>
            </tr>
            @foreach (var member in Model.MemberCatalogue) 
            {
                <tr>
                    <td> @member.MemberId </td>
                    <td> @member.FirstName</td>
                    <td> @member.Surname</td>
                    <td> @member.Email </td>
                    <td> @member.ContactNumber </td>
                </tr>                
            }  
        </table>
    }
      
</div>