@* @model BookCatalogueViewModel *@
@using Bookish.Models
@model BookCatalogueViewModel
@{
    ViewData["Title"] = "Book Catalogue";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    @if (Model.BookCatalogue.Count > 0 ) {
        <table class="table table-striped table-bordered">
            <tr> 
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
            </tr>
            @foreach (var book in Model.BookCatalogue) {
                <tr>
                    <td> @book.BookId </td>
                    <td> @book.Title</td>
                    <td> @book.Author</td>
                    <td> @book.Year </td>
                </tr>                
            }  
        </table>
    }
   
</div>